/* Estilos inspirados en Bulma Clean Theme */
body {
  background: #f5f6fa;
}
.hero.is-primary {
  background: linear-gradient(120deg, #00c4a7 0%, #209cee 100%);
}

/*Choregraphe*/
.fas.fa-laptop-code {
  color: #209cee;
}

/*Python*/
.fab.fa-python {
  color: #ffae00;
}

/* PBE  ----- CARD ------*/

.card{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
  }

  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .face.face1{
    box-sizing: border-box;
    padding: 15px;
  }

  .card .face.face1 h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
  }

  .card .face.face1 .content{
    font-size: 1em;
    margin: 0x;
    padding:0 0 5em 0;
    font-weight:400;
    text-align: center;
  }

  .card .face.face2{
    /* -*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Opcional, para centrar verticalmente */
    /*-*/
    background: #111;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

  .column:nth-child(1) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }

  .column:nth-child(2) .face.face2{
    background: linear-gradient(45deg, #ccff00, #09afff);
    border-radius: 15px;
  }

  .column:nth-child(3) .face.face2{
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
    border-radius: 15px;
  }
  .card:hover .face.face2{
    flex-direction: row; /* Cambia a fila en hover */
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 0 0 15px 15px;
  }

  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
}
  .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 5em;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
  .card:hover .face.face2 h2{
    font-size: 2em;
  }
  .card:hover .face.face2 p{
    font-size: 2em;
    display: block;
  }

  .card .face.face2 p{
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
/*HOVER EFECCT*/
.card .face.face2 .hover-text { display: none; }
.card .face.face2 .default-text { display: block; }
.card:hover .face.face2 .hover-text { display: block; }
.card:hover .face.face2 .default-text { display: none; }
/*--*/
  #link{
  color: black;
  text-decoration: none;
  }

/* -------------- */







/* .box {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.box:hover ~ * {
  border-width: 22px;
}

.button.is-light.is-large {
  font-size: 1.25rem;
  padding: 1em 2em;
} */